# MQTT Broker Settings
MQTT_BROKER=broker.hivemq.com
MQTT_PORT=1883
MQTT_TOPIC=your/custom/elevator/topic

# Device Settings
DEVICE_ID=E001
CAMERA_ID=0

# Camera Settings
YOLO_AI_MODEL_PASS=yolo26n.pt
ELEVATOR_AI_MODEL_PASS=elevatorTrackerv7.pt